.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/Lab2Linux/v17/DocumentLayout.json
.vs/Lab2Linux/v17/DocumentLayout.backup.json
.vs/Lab2Linux/v17/Browse.VC.db
.vs/Lab2Linux/v17/.wsuo
.vs/Lab2Linux/FileContentIndex/ef1bd830-ff2a-416c-ae78-3b1091cd2a7f.vsidx
.vs/Lab2Linux/FileContentIndex/**
**/.vs